@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<h1 id="home-h1">Welkom</h1>

<div id="home-main">

    <section id="past-elections">
        <h2 class="home-h2"> Verlopen verkiezingen</h2>

        <div class="elections-list-home">
        @* insert elections US07 *@
        </div>
    </section>


    <section id="future-elections">
        <h2 class="home-h2">Toekomstige verkiezingen</h2>

        <div class="elections-list-home">
        @* insert elections US07 *@
        </div>
    </section>

</div>