@model HomeModel
@using OnlineElectionControl.Classes;
@{
    ViewData["Title"] = "Home Page";
}

<h1 id="home-h1">Welkom</h1>

<div id="home-main">

    <section id="past-elections">
        <h2 class="home-h2"> Verlopen verkiezingen</h2>

        <div class="elections-list-home">
            @foreach ( var tmpElection in Model.GetPastElections )
            {
                <div class="election-list-items">
                    <p>
                        @tmpElection.ShortName
                        <br />
                        @tmpElection.Date.ToString("dd-MM-yyyy")
                    </p>
                    <a href="#"><img src="~/svg-icons/graph-icon.svg" alt="results icon"/></a>
                </div> 
                
            }
        </div>
    </section>


    <section id="future-elections">
        <h2 class="home-h2">Toekomstige verkiezingen</h2>

        <div class="elections-list-home">
            @{
                if(Current.UserIsLoggedIn && Current.LoggedInUser!.UserIsGovernment)
                {
                    <style>.elections-list-home { min-height: 500px; }</style>
                    <div class="new-item-box">
                    <a asp-controller="CreateElection" asp-action="Index" class="new-item-btn">
                        Nieuwe verkiezing aanmaken
                    <img src="~/svg-icons/plus-icon.svg" alt="Plus icon to create new election"/></a>
                    </div>
                }
            }
            @foreach (var tmpElection in Model.GetFutureElections)
            {
                <div class="election-list-items">
                    <p>
                        @tmpElection.ShortName
                        <br/>
                        @tmpElection.Date.ToString("dd-MM-yyyy")
                    </p>
                    @{
                        if(tmpElection.Status == ElectionStatus.InProgress)
                        {
                            <a href="#"><img src="~/svg-icons/voting-icon.svg" alt="vote icon"/></a>
                        } else
                        {
                            if (Current.UserIsLoggedIn && Current.LoggedInUser!.UserIsPartyLeader)
                            {
                                <a asp-controller="ElectableMember"><img src="~/svg-icons/candidates-icon.svg" alt="select candidates icon" /></a>
                            }
                            else
                            {
                                <div><img src="~/svg-icons/grey-vote-icon.svg" alt="disabled vote icon" /></div>
                            }
                        }
                    }
                    
                </div>
            }
        </div>
    </section>

</div>