<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineElectionControl</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
   
   
    <div id="nav-main-div">

        
         <nav>

             <div id="nav-links">

                 <div id="login-arrow-group">

                    <div class="icon-width-fix">
                        <a asp-controller="Login" asp-action="Index" id="login-icon"><img src="~/svg-icons/user-icon.svg" alt="login icon" id="login-svg" /></a>
                    </div>

                    <div class="icon-width-fix">
                        <a href="#" id="arrow-icon"><img src="~/svg-icons/arrow-right-icon.svg" alt="arrow icon" id="arrow-svg" /></a>
                    </div>

                 </div>

                <a href="#"><img src="~/svg-icons/voting-icon.svg" alt="vote icon" id="voting-svg" /></a>
                <a href="#"><img src="~/svg-icons/calendar-icon.svg" alt="elections icon" id="elections-svg" /></a>
                <a href="#"><img src="~/svg-icons/graph-icon.svg" alt="results icon" id="results-svg" /></a>
                <a href="#"><img src="~/svg-icons/party-icon.svg" alt="parties icon" id="parties-svg" /></a>

                    <div class="icon-width-fix">
                        <a asp-controller="Home" asp-action="Logout" id="logout-icon"><img src="~/svg-icons/quit-icon.svg" alt="logout icon" id="logout-svg" /></a>
                    </div>
                
            </div>

         </nav>

        <main>

            <div class="vml-message">

                @if (TempData["Vml"] != null) foreach (var message in (string[])TempData["Vml"])
                    {
                        <p>@message</p>
                    }

            </div>

            @RenderBody()

            Logged in?
            @OnlineElectionControl.Classes.Current.UserIsLoggedIn

        </main>

    </div>

  
    <footer>
            Copyright 2024  -  <a href="https://www.rijksoverheid.nl/" target="_blank" id="copyright-link">Rijksoverheid</a>
    </footer>
   

</body>
</html>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var vmlMessageDiv = document.querySelector('.vml-message');

        if (!vmlMessageDiv.textContent.trim()) {

            vmlMessageDiv.classList.add('hidden');
        }
    });
</script>
