@model LoginModel;
@{
    ViewData["Title"] = "Index";
}

<div id="login-main">

<div id="login-form-box">

    <h1 id="login-h1">Log In</h1>

    <div class="register-link">
         Geen account?
            <a asp-controller="Login" asp-action="Register" class="register-link">Register</a>
    </div>

    <form id="Login_LoginForm" asp-controller="Login" asp-action="AttemptLogin" method="post">
     <label for="Username"></label>
     <input id="Username" class="Login_LoginInput" type="text" name="pUsername" placeholder="Gebruikersnaam" @(TempData["pUsername"] != null ? $"value={TempData["pUsername"]}" : "") required maxlength="50"/>
            <br><br>
     <label for="Password"></label>
     <input id="Password" class="Login_LoginInput" type="password" name="pPassword" placeholder="Wachtwoord" required />
     <br><br>
     <a href="">Wachtwoord vergeten?</a>
      <br>
      <input type="submit" value="Inloggen" id="login-btn"/>
    </form>

</div>

</div>