@{
    ViewData["Title"] = "Index";
}

<div id="create_election-main">

    <div id="create_election-box">

        <h1 id="create_election-h1">Verkiezing aanmaken</h1>

        <form id="Create-Election-Form" asp-controller="CreateElection" asp-action="AttemptCreateElection" method="post">
            <label for="ElectionName"></label>
            <input id="ElectionName" class="Create-Election-Input" type="text" name="pElectionName" placeholder="Naam" @(TempData["pElectionName"] != null ? $"value={TempData["pElectionName"]}" : "") required maxlength="255" />
            <br><br>
            <label for="ElectionDescription"></label>
            <input id="ElectionDescription" class="Create-Election-Input" type="text" name="pElectionDescription" placeholder="Omschrijving" maxlength="65000" />
            <br><br>
            <label for="ElectionDate"></label>
            <input id="ElectionDate" class="Create-Election-Input" type="date" name="pElectionDate" @(TempData["pElectionDate"] != null ? $"value={((DateTime)TempData["pElectionDate"]!).ToString(format: "yyyy-MM-dd")}" : "") required />
            <br><br>
            <input type="submit" value="Aanmaken" id="Election-btn" />
        </form>

    </div>

</div>