@{
    ViewData["Title"] = "Index";
}

<div id="create_election-main">

    <div id="create_election-box">

        <h1 id="create_election-h1">Verkiezing aanmaken</h1>

        <form id="Login_LoginForm" asp-controller="CreateElection" asp-action="AttemptCreateElection" method="post">
            <label for="ElectionName"></label>
            <input id="ElectionName" class="Login_LoginInput" type="text" name="pElectionName" placeholder="Naam" @(TempData["pElectionName"] != null ? $"value={TempData["pElectionName"]}" : "") required />
            <br><br>
            <label for="ElectionDescription"></label>
            <input id="ElectionDescription" class="Login_LoginInput" type="text" name="pElectionDescription" placeholder="Omschrijving" required />
            <br><br>
            <label for="ElectionDate"></label>
            <input id="ElectionDate" class="Register_RegisterInput" type="date" name="pElectionDate" @(TempData["pElectionDate"] != null ? $"value={((DateTime)TempData["pElectionDate"]).ToString(format: "yyyy-MM-dd")}" : "") required />
            <br><br>
            <input type="submit" value="Aanmaken" id="Election-btn" />
        </form>

    </div>

</div>