html {
    color: black;
    font-family: Kadwa;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    list-style: none;
}

nav {
    background-color: #3E548C;
    height: 96vh;
    width: 280px;
    display: flex;
    transition: width 0.3s ease;
}

#nav-main-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.vml-message {
    height: 4vh;
    background-color: lightgrey;
    text-align: center;
    width: 30vw;
    border: solid black 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    font-size: 20px;
}

.hidden {
    display: none;
}

main {
    background-color: white;
    width: 96.8vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;
    margin-left: 250px;
}

nav.collapsed {
    width: 60px;
}

nav.collapsed + main {
    margin-left: 60px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding-left: 15px;
}
.nav-bar-expanded-text {
    color: white;
    margin: 0;
    margin-left: 15px;
    transition: visibility 0.3s ease;
    width: 100%;
    white-space: nowrap;
}

nav.collapsed .nav-bar-expanded-text {
	visibility: hidden;
}

#login-arrow-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#login-icon {
    height: 45px;
    color: black;
    padding-left: 5px;
    padding: 4px 0px 4px 10px;
}

#arrow-icon {
    height: 6vh;
    cursor: pointer;
    padding: 4px 0px 4px 5px;
}

#arrow-icon img {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

nav.collapsed #arrow-icon img {
    transform: rotate(0deg);
}

#logout-icon {
    height: 45px;
    border-top: solid 4px #1F315F;
    padding: 4px 0px;
}

.icon-width-fix {
    border-bottom: solid 4px #1F315F;
    width: 100%
}

footer {
    background-color: #3E548C;
    height: 4vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright-link:visited {
    color: white;
}

#login-svg {
    width: 40px;
}

#arrow-svg {
    width: 50px;
    height: 50px;
    margin-right: -5px;
}

#logout-svg {
    width: 45px;
    height: 45px;
    padding-left: 7.5px;
}

#voting-svg {
    width: 45px;
}

#elections-svg {
    width: 45px;
}

#home-svg {
    width: 45px;
}

#parties-svg {
    width: 45px;
}


/*Home CSS*/

#home-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#home-h1 {
    margin-top: 5.5vh;
    font-size: 50px;
    color: #1F315F;
    border-bottom: 5px solid #1F315F;
}

.home-h2 {
    text-align: center;
    font-size: 35px;
    color: #1F315F;
}

.elections-list-home {
    background-color: #A4B1D2;
    border: solid #3E548C 6px;
    height: 60vh;
    min-height: 450px;
    width: 27vw;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.election-list-items {
    background-color: #DFE3EE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    width: 25vw;
    min-width: 380px;
    min-height: 80px;
    margin: 5px 0px;
    p {
        padding: 0px 10px;
    }
    a {
        padding: 0px 10px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}
.new-item-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
.new-item-btn {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    padding-right: 10px;

    img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
}

/*Login CSS*/
#login-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form-box {
    background-color: #F0F0F0;
    border: solid 10px #3E548C;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 473px;
    min-width: 500px;
}

#login-form-box a {
    color: #3E548C;
}


#Login_LoginForm {
    margin-top: 4vh;
}

.Login_LoginInput {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
    min-width: 160px;
    min-height: 26px;
}

#login-btn {
    background-color: #6A82C1;
    color: white;
    font-weight: bold;
    border: 0;
    height: 4vh;
    width: 6vw;
    font-size: 15px;
    margin-top: 3vh;
    min-width: 85px;
    min-height: 26px;
}

/*Register CSS*/

#register-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form-box {
    background-color: #F0F0F0;
    border: solid 10px #3E548C;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 520px;
    min-width: 768px;
}

#register-form-box a {
    color: #3E548C;
}

#Login_RegistrationForm input{
    margin-bottom: 3vh;
}

#Login_RegistrationForm #Username{
    margin-top: 3vh;
}

.Register_RegisterInput {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
    min-width: 160px;
    min-height: 26px;
}

#register-btn {
    background-color: #6A82C1;
    color: white;
    font-weight: bold;
    border: 0;
    height: 4vh;
    width: 6vw;
    font-size: 15px;
    min-width: 110px;
    min-height: 26px;
}

 /*Create Election CSS*/

#create_election-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_election-box {
    background-color: #F0F0F0;
    border: solid 10px #3E548C;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 473px;
    min-width: 768px;
}

.Create-Election-Input {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
    min-width: 160px;
    min-height: 26px;
}

#Election-btn {
    background-color: #6A82C1;
    color: white;
    font-weight: bold;
    border: 0;
    height: 4vh;
    width: 6vw;
    font-size: 15px;
    margin-top: 3vh;
    min-width: 85px;
    min-height: 26px;
}

 /* Party Index CSS */
.party-h1 {
    margin-top: 5.5vh;
    font-size: 50px;
    color: #1F315F;
    border-bottom: 5px solid #1F315F;
}

#party-main {
    background-color: #F0F0F0;
    border: solid 10px #3E548C;
    width: 60vw;
    min-width: 660px;
    height: 70vh;
    display: flex;
    flex-direction: column;

    #party-info-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

#party-main-heading {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

.party-info-box {
    width: calc(20vw - 20px);
    min-width: 200px;
    margin: 7px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px black;
    height: 208px;

    div {
        width: 100%;
        background-color: #D9D9D9;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 95%;
            height: 95%;
            object-fit: contain;
        }
    }

    h3 {
        color: black;
        font-size: 28px;
        margin: 10px;
    }
}
/* Party View CSS */
#view_party_main {
    margin-top: 3vh;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#view_party_header {
    width: 100%;
    height: 30%;
    min-height: 130px;
    display: flex;
    justify-content: space-between
}

#view_party_content {
    width: 100%;
    height: 60%;
    min-height: 320px;
    display: flex;
    justify-content: space-between
}

.view_party_left_div {
    width: 65%;
    height: 100%;
}

.view_party_right_div {
    width: 30%;
    height: 100%;
}

.party_bordered_box {
    background-color: #A4B1D2;
    border: solid 5px #3E548C;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    padding: 6px;

    p {
        margin: 2px 0px;
    }
}
#view_party_header_left {
    display: flex;
    align-items: center;
}
#view_party_title {
    width: calc(70% - 8vw);
    height: 100%;
    padding: 0px 4vw;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        font-size: 50px;
        color: #1F315F;
        border-bottom: 5px solid #1F315F;
    }
}
#view_party_logo {
    height: 100%;
    width: 30%;
    min-width: 160px;
    border: solid 3px black;
    box-sizing: border-box;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 95%;
        height: 95%;
        object-fit: contain;
    }
}
.view_party_box_heading_text {
    color: #1F315F;
    border-bottom: 5px solid #1F315F;
    margin: 2px 0px;
}
#view_party_members_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Party Create CSS */
#create_party_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_party_box {
    background-color: #F0F0F0;
    border: solid 10px #3E548C;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 473px;
    min-width: 768px;
}

.Create-Party-Input {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding: 1px 2px 1px 1vw;
    min-width: 160px;
    min-height: 26px;
    box-sizing: content-box;

}

#Party-btn {
    background-color: #6A82C1;
    color: white;
    font-weight: bold;
    border: 0;
    height: 4vh;
    width: 6vw;
    font-size: 15px;
    margin-top: 3vh;
    min-width: 85px;
    min-height: 26px;
    margin-bottom: 15px;
}