html {
    color: black;
}

body {
    margin: 0;
    padding: 0
}

a {
    list-style: none;
}

nav {
    background-color: #3E548C;
    height: 96vh;
    width: 3.5vw;
    display: flex;

}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: white;
    width: 96.8vw;
    height: 94.6vh;
    display: flex;

}

#nav-main-div {
    display: flex;
    flex-direction: row;
        align-items: center;
}

#login-arrow-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#login-icon {
    border-bottom: solid 4px #1F315F;
    height: 6vh;
    width: 3.5vw;
    color: black;
}
#arrow-icon {
    border-bottom: solid 4px #1F315F;
    height: 6vh;
    width: 3.5vw;
}
#logout-icon {
    border-top: solid 4px #1F315F;
    border-bottom: solid 4px #1F315F;
    height: 6vh;
    width: 3.5vw;
    text-align: center;
}

footer {
    background-color: #3E548C;
    height: 4vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
#copyright-link:visited {
    color: white;
}


#login-svg {
    width: 40px;
    margin-top: 7px;
}
#arrow-svg {
    width: 45px;
    margin-top: 6px;
}
#logout-svg {
    width: 50px;
    margin-top: 3px;
}

#voting-svg {
    width: 48px;
}
#elections-svg {
    width: 55px;
}
#results-svg {
    width: 45px;
}
#parties-svg {
    width: 50px;
}

