html {
    color: black;
}

body {
    margin: 0;
    padding: 0
}

a {
    list-style: none;
}


nav {
    background-color: #3E548C;
    height: 96vh;
    min-width: 60px;
    display: flex;

}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.vml-message {
    height: 4vh;
    background-color: lightgrey;
    text-align: center;
    width: 30vw;
    border: solid black 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    font-size: 20px;
}

.hidden {
    display: none;
}


#idc {
    font-size: 50px;
}

main {
    background-color: white;
    width: 96.8vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#nav-main-div {
    display: flex;
    flex-direction: row;
        align-items: center;
}

#login-arrow-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#login-icon {
    height: 6vh;
    color: black;
}
#arrow-icon {
    height: 6vh;
}
#logout-icon {
    height: 6vh;
    text-align: center;
}

.icon-width-fix {
    border-bottom: solid 4px #1F315F;
    width: 60px;
}

footer {
    background-color: #3E548C;
    height: 4vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyright-link:visited {
    color: white;
}


#login-svg {
    width: 40px;
    margin-top: 7px;
}
#arrow-svg {
    width: 45px;
    margin-top: 6px;
}
#logout-svg {
    width: 60px;
    height: 50px;
    margin-top: 3px;
    border-top: solid 4px #1F315F;
}

#voting-svg {
    width: 48px;
}
#elections-svg {
    width: 55px;
}
#results-svg {
    width: 45px;
}
#parties-svg {
    width: 50px;
}

/*Home CSS*/

#home-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#home-h1 {
    margin-top: 8vh;
    font-size: 50px;
    color: #1F315F;
    border-bottom: 5px solid #1F315F;
}

.home-h2 {
    text-align: center;
    font-size: 35px;
    color: #1F315F;
}

.elections-list-home {
    background-color: #A4B1D2;
    border: solid #3E548C 6px;
    height: 60vh;
    width: 50vh;
}

#future-elections #past-elections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Login CSS*/

#login-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form-box {
    background-color: #F0F0F0;
    border: solid 10px #3E548C;
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form-box a {
    color: #3E548C;
}


#Login_LoginForm {
    margin-top: 7vh;
}

#Username {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
}

#Password {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
}

#login-btn {
    background-color: #6A82C1;
    color: white;
    font-weight: bold;
    border: 0;
    height: 4vh;
    width: 6vw;
    font-size: 15px;
    margin-top: 3vh;
}

/*Register CSS*/

#register-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form-box {
    background-color: #F0F0F0;
    border: solid 10px #3E548C;
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-form-box a {
    color: #3E548C;
}

#Login_RegistrationForm input{
    margin-bottom: 3vh;
}

#Login_RegistrationForm #Username{
    margin-top: 3vh;
}

#Firstname {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
}

#Lastname {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
}

#City {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
}

#Birthdate {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
}

#Email {
    background-color: #A4B1D2;
    border: 0;
    height: 5vh;
    width: 20vw;
    font-size: 20px;
    padding-left: 1vw;
}

#register-btn {
    background-color: #6A82C1;
    color: white;
    font-weight: bold;
    border: 0;
    height: 4vh;
    width: 6vw;
    font-size: 15px;
}